/* Karina's site */

* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
}
/* sets padding and margin so not up to different browsers interpretation */

body {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.4em;
}

header{
	background-color: #69cbd9;
}

header img {
 	width: 250px; 
 	margin-left: 2em; /* ok ???? */
}

p {
	color: black;
}

h1{
	text-transform: uppercase;
	font-size: 1.6em;
	color: white;
}

h2 {
	color: #505050;
	font-size: 1.3em;
	text-transform: uppercase;
}

h3 {
	font-size: 2em;
	color: #505050;
	text-align: center;
}

footer {
	color: black;
	padding: 0em;
	text-align: center;
}



nav {
	float: right;
	letter-spacing: .03em;
	font-size: 1.2em;
}

nav li {
	float: left; /* ok ???? */
	padding: 1em;
	list-style: none;
	color: white;
}

li{
	margin-left: 1.25em;
}



a {
    color: #505050;
    text-decoration: none;
}


.navli{
	display: inline; /* worked */
	letter-spacing: .02em;
	color: white;
	text-decoration: none;
	float: left; /* ok ???? */
	margin-right: 2em;
}


.clearfix:after {  
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.lightteal{
	background-color: #8bd7e1;
	padding: 3em 2em 3em 2em;

}

.threecolumns{
	width: 33%;
	padding: 2em;
	float: left;
}

.wrapper {
	width: 900px;
	margin: 0em 4em;
}

.white{
	background-color: #FFFFFF;
	padding: 3em 2em 3em 2em;
}

.contact{
	color: #505050;
	font-size: 6em;
	text-transform: uppercase;
	text-align: center;

}

#loopimg{
	padding: 4em 0em;

}