@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Alegreya);

* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
}
/* sets padding and margin so not up to different browsers interpretation */

body {
	font-size: 17px;
	background-color: white;
	line-height: 1.3em;
	}

li{
	list-style: disc;
	color: #505050;
}

footer {
	font-family: 'Lato', Helvetica, sans-serif;
	clear: both;
	text-transform: uppercase;
	text-align: right;
	color: #B2B2B2; /* not changing?, overridden? */
	float: right;
	padding: 1em 0em;
	/* create class or ID to change color? */
}

footer a {
	color: #B2B2B2; /* not working ?? */
	font-size: 15px; /* best way to make smaller than body text */
}

footer p {
	color: #B2B2B2; 
	font-size: 15px;
	line-height: 1em; 
}

header {
	font-family: 'Lato', Helvetica, sans-serif;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 10px; /* why is it not on index page?
	-apply clear fix */
 } /* put the background color for the navigation menu at the top
 under header tag */

nav {
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 400; 
	font-size: 1.2em;
	line-height: 1.5em;
	letter-spacing: .03em;
	color: #A0A0A0;
	text-transform: uppercase;
	background-color: 
	font-size: 2em;
	border:;
	margin-bottom: .2em;
}

nav ul {
	list-style-type: none;
	margin: ;
	padding: ; /* ??? */
}
figure {
	width: 33%;
	padding: 2em;
	float: left;
}
figure img {
	width:100%;	
}

figcaption {
	color: #505050;

}
/* it's 100 percent of parent, which is 33% of Div set at 960 px */


a {
    color: #505050;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #080808;
}


h1 {
	font-family: 'Lato', Helvetica, sans-serif;
	margin-bottom: .2em;
	font-weight: 700; 
	font-size: 3em;
	line-height: 1em;
	color: #B2B2B2;
	font-weight:;
	font-style:;
	letter-spacing:;
	margin-top:; /* ??? */
	}

h2 {
	margin-top: 1em;
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 400; 
	line-height: 1.5em;
	text-transform: uppercase;
	color: #A0A0A0;
	font-size: 1.5em;
} /* ??? */

h3 {
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 700;
	font-size: 1em;
	color: #505050;
} /* ??? */

p {
	font-family:'Alegreya','Times New Roman' serif;
	margin-bottom: 1em;
	line-height: 1.3em;
	font-size: 1em;
	letter-spacing: ;
	color: #505050;
} /* ??? */

hr {
}



/* Put classes and IDs below here */
#homePage {
	background-image: url(../images/homebackground_discovery.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	/* ???-fix CSS so paintings always fills browser at bottom */
	/* ../ for escaping CSS folder */
}

#wrapper{ /* doesn't work on statement page ??? */
	width: 910px;
	margin: 0 auto;
}

.homepageintro {
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	color: #505050;
	padding: 10em;
/* is this correct */
}



.navli{
	display: inline; /* worked */
	letter-spacing: .02em;
	color: white;
/* make similar to bettycuninghamgallery.com?? */
/* words need to be farther apart */
}

.navbar{
		float: left; /* ???????????? */
		width: 65%;
		padding: 4em 2em;
		font-size: 1em;
		letter-spacing: 1em;
		/* background color was #A0A0A0*/
}

.logo{
	float: left;
	width: 30%;
	padding: 0em;
}


.statementbiopic {
	float: left;
	width: 20%;
	padding: 4.5em 2em;
}

.artiststatement {
	float: right; /* ???????????? */
	padding: 4em 1em;
	background: ;
	width: 80%;
}

.clearfix:after {  
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.headingspace{
	padding: 4em 0 0 0;
}

.archivecolumns{
	width: 50%;
	padding: 4em;
	float: left;

}

.indentbullets {
	margin-left: 1.25em;
}


	/* For indenting bullets */

}

/* class="clear fix" in html; class="clearfix:after" in CSS*/





