* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
}

body {
	background-color: white;
	color: #505050;
}
#homePage {
	background-image:url(../images/homebackground_discovery.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	/* ???-fix CSS so paintings always fills browser at bottom */
	/* ../ for escaping CSS folder */
}

nav {
	background-color:
	border:;
	color: #505050;
	margin: 8px 22px 8px 22px;
	width: 90%; /* ??? */
}

nav ul {
	margin: 0;
	padding: 0; /* ??? */
}

h1 {
	font-family: Georgia, "Times New Roman", Times, serif; 
	font-size: ;
	color: #444;
	font-weight:;
	font-style:;
	text-align:;
	text-transform: ;
	letter-spacing:;
	margin-top:; /* ??? */

	}


h2 {

} /* ??? */

h3 {

} /* ??? */

p {
	font-family:;
	font-size:;
	line-height: ;
	text-transform: ;
	color: #444;

} /* ??? */
