@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Alegreya);

* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
}
/* sets padding and margin so not up to different browsers interpretation */

header {
	font-family: 'Lato', Helvetica, sans-serif;
 }

a {
    color: #505050;
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: #505050;
}

/* visited link */
a:visited {
    color: #585858;
}

/* mouse over link */
a:hover {
    color: #080808;
}

/* selected link */
a:active {
    color: #505050;
}

body {
	font-size: 17px;
	background-color: white;
	color: #505050;
	line-height: 1.3em;
	margin-left: 10em;
	margin-right: 10em;
}

#homePage {
	background-image: url(../images/homebackground_discovery.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	/* ???-fix CSS so paintings always fills browser at bottom */
	/* ../ for escaping CSS folder */
}

nav {
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 400; 
	font-size: 1.2em;
	line-height: 1.5em;
	letter-spacing: .03em;
	color: #A0A0A0;
	text-transform: uppercase;
	background-color: 
	font-size: 2em;
	border:;
	color: #505050;
	margin-bottom: .2em;
	width: 90%; /* ??? */
}

nav ul {
	list-style-type: none;
	margin: ;
	padding: ; /* ??? */
}

ul {
	list-style: none;
}


h1 {
	font-family: 'Lato', Helvetica, sans-serif;
	margin-bottom: .2em;
	font-weight: 700; 
	font-size: 3em;
	line-height: 1em;
	color: #B2B2B2;
	font-weight:;
	font-style:;
	letter-spacing:;
	margin-top:; /* ??? */
	}

h2 {
	margin-top: 1em;
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 400; 
	line-height: 1.5em;
	text-transform: uppercase;
	color: #A0A0A0;
	font-size: 1.5em;
} /* ??? */

h3 {
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 700;
	font-size: 1em;
} /* ??? */

p {
	font-family:'Alegreya','Times New Roman' serif;
	margin-bottom: 1em;
	line-height: 1.3em;
	font-size: 1em;
	letter-spacing: ;
} /* ??? */

footer {
	font-family: 'Lato', Helvetica, sans-serif;
	/* create class for copyright statement to make it Lato-already done? */
}

/* Put classes and IDs below here */

#wrapper{
	width: 960px;
	margin: 0 auto;
}
/* doesn't work on statement page ??? */


.navli{
	display: inline; /* worked */
	/* make similar to bettycuninghamgallery.com?? */
	
	


}

/* I want bullet points on giclees page
make separate class?*/


/* create class with white text on gray 
header background for all pages except 
home page or vice versa*/

