@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Alegreya);

* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
}
/* Reset: sets padding and margin so not up to different browsers interpretation */
body {
	font-size: 17.5px;
	background-color: white;
	line-height: 1.3em;
}
header {
	font-family: 'Lato', Helvetica, sans-serif;
	background-color: #FFFFFF;
	margin-bottom: 3em; 
} /* put the background color for the navigation menu 
	and logo, under header tag */

 header img {
 	width: 250px; 
 	margin-left: 2em; /* ok ???? */
 }

nav {
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 400; 
	line-height: 1.5em;
	letter-spacing: .03em;
	color: #A0A0A0;
	text-transform: uppercase;
	font-size: 2em;
	float: right; /* float nav right */
}

nav ul {
	float: left; /* float ul left */
	list-style-type: none;
	margin: ;
	padding: ; /* ??? */
}

footer {
	font-family: 'Lato', Helvetica, sans-serif;
	clear: both;
	text-transform: uppercase;
	text-align: right;
	color: #B2B2B2; 
	float: right;
	padding: 1em 0em;
}

footer a {
	font-family: 'Lato', Helvetica, sans-serif;
	color: #B2B2B2; 
	font-size: 15px; /* enter pixel size here rather than percentage */
	line-height: 1em;
}

footer p {
	font-family: 'Lato', Helvetica, sans-serif;
	color: #B2B2B2; 
	font-size: 15px;
	line-height: 1em; 
}

li{
	list-style: disc;
	color: #505050;
}


figure {
	width: 33%;
	padding: 2em;
	float: left;
}

figure img {
	width:100%;	
}
/* it's 100 percent of parent, which is 33% of Div set at 910 px */

figcaption {
	color: #505050;
}



a {
    color: #505050;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #080808;
    text-decoration: none;
}


h1 {
	font-family: 'Lato', Helvetica, sans-serif;
	margin-bottom: .2em;
	font-weight: 700; 
	font-size: 3em;
	line-height: 1em;
	color: #B2B2B2;
	font-weight:;
	font-style:;
	letter-spacing:;
	margin-top:; /* ??? */
}

h2 {
	margin-top: 1em;
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 400; 
	line-height: 1.5em;
	text-transform: uppercase;
	color: #A0A0A0;
	font-size: 1.5em;
} /* ??? */

h3 {
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 700;
	font-size: 1em;
	color: #505050;
} /* ??? */

p {
	font-family:'Alegreya','Times New Roman' serif;
	margin-bottom: 1em;
	line-height: 1.3em;
	font-size: 1em;
	color: #505050;
} /* ??? */

hr {
	margin-top: 1em;
}
/* Put classes and IDs below here */
#homePage {
	background-image: url(../images/homebackground_discovery.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	/* ???-fix CSS so paintings always fills browser at bottom */
	/* ../ for escaping CSS folder */
}

.wrapper{ /* doesn't work on statement page ??? */
	width: 910px; /* ok? i like this width, should be 1200px? */
	margin: 0 auto;
} /* make wrapper a class */


.homepageintro {
	background-color: rgba(255, 255, 255, 0.7);
	color: #505050;
	padding: 3em 2em 2em 2em; /* why isn't the text centered vertically? */
	width: 32em; /* 26em-based have of width (910px) divided by body font size (17px) */
	margin: 10em auto;
	text-align: center;
}


.navli{
	display: inline; /* worked */
	letter-spacing: .02em;
	color: white;
}

.navbar{
		padding: 3em 2em;
		font-size: 1em;
		letter-spacing: 1em;
}


.statementbiopic {
	float: left;
	width: 20%;
	padding: 1em;
}

.artiststatement {
	float: left; /* ???????????? */
	padding: 0em;
	background: ;
	width: 70%;
}

.clearfix:after {  
	content: " "; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
/* class="clear fix" in html; class="clearfix:after" in CSS*/
/* attach a clearfix to any parent element whose children are floated*/


.archivecolumns{
	width: 50%;
	padding: 4em;
	float: left;
}

.indentbullets {
	margin-left: 1.25em;
}

.shortenlinelength {
	width: 70%;
}

.footerindex {
	background-color: white;
	padding: 1.25em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

/* alt color- background-color: rgba(255,255,255,.8); */










