
@media only screen and (max-width:1623px) {
	
	.moveright {
		margin-left: 15em;
	}

/* settings for hamburger menu */
	.mobile-nav{
		float: right
	}

	.menu-btn {
		padding: 1em;
	}

/* changes hamburger menu bars */
	.menu-btn span{
		background-color: #b58cad;
		padding: .2em .1em;
		margin: .3em;
		width: 2.5em; 
	}
	/* lime green:#a7ad2e; purple: #a74595, #9d6892 */

	.responsive-menu{
		background-color: white;
	}

	.responsive-menu ul li{
		list-style: none;
		text-transform: uppercase;
		line-height: 1.7em;
		font-size: .9em;
		padding-left: 2em;
	}
/* end settings for hamburger menu */



/* not working 
	:color: #A0A0A0;
	padding: ;  */

@media only screen and (max-width:1364px) {
	
	.moveright {
		margin-left: 8em;
	}

	/* settings for hamburger menu */
	.mobile-nav{
		float: right
	}

	.menu-btn {
		padding: 1em;
	}

/* changes hamburger menu bars */
	.menu-btn span{
		background-color: #b58cad;
		padding: .2em .1em;
		margin: .3em;
		width: 2.5em; 
	}
	/* lime green:#a7ad2e; purple: #a74595, #9d6892 */

	.responsive-menu{
		background-color: white;
	}

	.responsive-menu ul li{
		list-style: none;
		text-transform: uppercase;
		line-height: 1.7em;
		font-size: .9em;
		padding-left: 2em;
	}
/* end settings for hamburger menu */



@media only screen and (max-width:969px) {
	
	/* settings for hamburger menu */
	.mobile-nav{
		float: right
	}

	.menu-btn {
		padding: 1em;
	}

/* changes hamburger menu bars */
	.menu-btn span{
		background-color: #b58cad;
		padding: .2em .1em;
		margin: .3em;
		width: 2.5em; 
	}
	/* lime green:#a7ad2e; purple: #a74595, #9d6892 */

	.responsive-menu{
		background-color: white;
	}

	.responsive-menu ul li{
		list-style: none;
		text-transform: uppercase;
		line-height: 1.7em;
		font-size: .9em;
		padding-left: 2em;
	}
/* end settings for hamburger menu */


	.moveright {
		margin-left: 2em;
	}
	.shortenlinelength {
		width: 80%;
		padding-right: .2em;
	}
	h1 { /* ?? */
		color: #B2B2B2;
		font-size: 3em;
		font-weight: 700;
		padding: 0em 0em 0em 0em;
 		margin-bottom: 0em;
 		line-height: .9em ;
	}

	.statementbiopic { /*????*/
		float: left;
		padding: 0em 1em 2em 1em;
		width: 25%;
	}

	.artiststatement {
		float: none; /* ????? */
		width:75%;
		padding: 0em;
	}
}



@media only screen and (max-width:945px) {

	/* UNIVERSAL CHANGES */
	/* make nav bar a hamburger menu */
	/* put CSS properties in alphabetical order-DONE */


/* settings for hamburger menu */
	.mobile-nav{
		float: right
	}

	.menu-btn {
		padding: 1em;
	}

/* changes hamburger menu bars */
	.menu-btn span{
		background-color: #b58cad;
		padding: .2em .1em;
		margin: .3em;
		width: 2.5em; 
	}
	/* lime green:#a7ad2e; purple: #a74595, #9d6892 */

	.responsive-menu{
		background-color: white;
	}

	.responsive-menu ul li{
		list-style: none;
		text-transform: uppercase;
		line-height: 1.7em;
		font-size: .9em;
		padding-left: 2em;
	}
/* end settings for hamburger menu */

	figure {
		float: left;
		padding: 3em;
		width: 50%;
	}

	figure img {
		width:100%;	
	}
	/* it's 100 percent of parent, which is 50% of Div*/


	h1 { /* ?? */
		color: #B2B2B2;
		font-size: 3em;
		font-weight: 700;
		padding: 0em 0em 0em 0em;
 		margin-bottom: .3em;
 		line-height: .9em ;
	}

	/* CORRECT ???-this code is for turning off nav menu and adds 
	hamburder menu and vice versa ??? */
	nav {
		display: none;

	}

	.mobile-nav{
	display: block;
	}

	/* switch of menu type-END*/


	#homePage { /*ADD IMAGE*/
		background-image: url(../images/homebackground_discovery_945.jpg);
		/*change image and link to a more vertical version of the image-DONE */
		height:;
	}


	.homepageintro { /* make intro paragraph and transparent 
		box on home page disappear for tablet and mobile version-DONE */
		display: none;
	}

	.statementbiopic { /*????*/
		float: left;
		padding: 0em 1em 0em 1em;
		width: 25%;
	}

	.artiststatement {
		float: none; /* ????? */
		width:100%;
		padding: 0em;
	}

	.resumepageimage {
		width: 100%;
	}

	.wrapper{ 
		margin: 0 auto;
	} 

	.shortenlinelength {
		width: 90%;
		padding-right: .2em;
	}


}


@media only screen and (max-width:590px) {
	/* UNIVERSAL CHANGES */
	/* make nav bar a hamburger menu */
	
	/* settings for hamburger menu */
	.mobile-nav{
		float: right
	}

	.menu-btn {
		padding: 1em;
	}

/* changes hamburger menu bars */
	.menu-btn span{
		background-color: #b58cad;
		padding: .2em .1em;
		margin: .3em;
		width: 2.5em; 
	}
	/* lime green:#a7ad2e; purple: #a74595, #9d6892 */

	.responsive-menu{
		background-color: white;
	}

	.responsive-menu ul li{
		list-style: none;
		text-transform: uppercase;
		line-height: 1.7em;
		font-size: .9em;
		padding-left: 2em;
	}
/* end settings for hamburger menu */




	body {
		font-size: 16px;
	}

	figure {
		float: none; 
		padding: 1.5em;
		width: 100%;
	}

	figure img {
		width:100%;	
	}
	/* it's 100 percent of parent, which is 100% of Div*/


	h1 { /* ??? */
		color: #B2B2B2;
		font-size: 3em;
		font-weight: 700;
		margin-bottom: .3em;
		padding-right: .2em;
		line-height: .9em ;
	}

	/* CORRECT ???-this code is for turning off nav menu and adds 
	hamburder menu and vice versa ??? */
	nav {
		display: none;

	}

	/* is the size of the logo causing spacing issues
	when site is viewed on mobile phone-YES-this fixed problem */
	 header img {
 		margin-left: 2em;
 		width: 175px; 
 	}

	.mobile-nav{
	display: block;
	}

	/* switch of menu type-END*/

	#homePage {/*ADD IMAGE*/
		background-image: url(../images/homebackground_discovery_590.jpg);
		/*change image and link to a more vertical version of the image-DONE
		-can I set a fixed height so the image doesn't become very narrow? */
		height:;
	}

	.homepageintro { /* make intro paragraph and transparent 
		box on home page disappear for tablet and mobile version-DONE*/
		display: none;
	}

	.statementbiopic { /*????*/
		float: none;
		padding: .5em 1em;
		width: 90%;
		/* or remove bio picture for tablet and 
		mobile version- display: none;*/
	}

	.artiststatement {
		float: none; /* ???????????? */
		padding: 0em;
		width:100%;
		padding-right: 2.8em;
		line-height
	}

	.resumepageimage { 
		display: none;
	}

	.wrapper{ 
		margin: 0 auto;
		max-width: 800px; /* or 960px; 1200px standard */

	} 
	.shortenlinelength {
		width: 85%;
		padding-right: .2em;
	}

	

}

	
