
@media only screen and (max-width:945px) {

	/* UNIVERSAL CHANGES */
	/* make nav bar a hamburger menu */
	/* put CSS properties in alphabetical order-DONE */


	figure {
		float: left;
		padding: 3em;
		width: 50%;
	}

	figure img {
		width:100%;	
	}
	/* it's 100 percent of parent, which is 50% of Div*/


	h1 { /* ?? */
		color: #B2B2B2;
		font-size: 3em;
		font-weight: 700;
		padding: 0em 0em 0em 0em;
 		margin-bottom: .5em;
 		line-height: .9em ;
	}

	/* CORRECT ???-this code is for turning off nav menu and adds 
	hamburder menu and vice versa ??? */
	nav {
		display: none;

	}

	.mobile-nav{
	display: block;
	}

	/* switch of menu type-END*/


	#homePage { /*ADD IMAGE*/
		background-image: url(../images/homebackground_discovery_945.jpg);
		/*change image and link to a more vertical version of the image-DONE */
		height:;
	}


	.homepageintro { /* make intro paragraph and transparent 
		box on home page disappear for tablet and mobile version-DONE */
		display: none;
	}

	.statementbiopic { /*????*/
		float: left;
		padding: 0em 1em 0em 1em;
		width: 35%;
	}

	.artiststatement {
		float: none; /* ????? */
		width:100%;
		padding: 0em;
	}

	.resumepageimage {
		width: 100%;
	}

	.wrapper{ 
		margin: 0 auto;
		max-width: 770px; /* ???????? */
	} 

	.shortenlinelength {
		width: 80%;
		padding-right: 1em;
	}


}

@media only screen and (max-width:590px) {
	/* UNIVERSAL CHANGES */
	/* make nav bar a hamburger menu */
	body {
		font-size: 16px;
	}

	figure {
		float: none; 
		padding: 1.5em;
		width: 100%;
	}

	figure img {
		width:100%;	
	}
	/* it's 100 percent of parent, which is 100% of Div*/


	h1 { /* ??? */
		color: #B2B2B2;
		font-size: 3em;
		font-weight: 700;
		margin-bottom: .6em;
		padding: 0em 0em 0em 0em;
		line-height: .9em ;
	}

	/* CORRECT ???-this code is for turning off nav menu and adds 
	hamburder menu and vice versa ??? */
	nav {
		display: none;

	}

	.mobile-nav{
	display: block;
	}

	/* switch of menu type-END*/

	#homePage {/*ADD IMAGE*/
		background-image: url(../images/homebackground_discovery_590.jpg);
		/*change image and link to a more vertical version of the image-DONE
		-can I set a fixed height so the image doesn't become very narrow? */
		height:;
	}

	.homepageintro { /* make intro paragraph and transparent 
		box on home page disappear for tablet and mobile version-DONE*/
		display: none;
	}

	.statementbiopic { /*????*/
		float: none;
		padding: 1em;
		width: 100%;
		/* or remove bio picture for tablet and 
		mobile version- display: none;*/
	}

	.artiststatement {
		float: none; /* ???????????? */
		padding: 0em;
		width:100%;
		padding-right: 2.8em;
		line-height
	}

	.resumepageimage { 
		display: none;
	}

	.wrapper{ 
		margin: 0 auto;
		max-width: 800px; /* or 960px; 1200px standard */

	} 

	

}

	
