@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
}
/* Reset: sets padding and margin so not up to 
different browsers interpretation */

/* put CSS properties in alphabetical order-DONE*/

body {
	background-color: white;
	font-size: 17.5px;
}

header {
	background-color: #FFFFFF;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	margin-bottom: 0em; 

} /* put the background color for the navigation menu 
	and logo, under header tag */

header img {
 	margin-left: 2em; 
 	width: 250px; 
 }


nav {
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	font-size: 2em;
	font-weight: 400; 
	float: right; /* float nav right */
	letter-spacing: .03em;
	text-transform: uppercase;
}

nav ul {
	float: left; /* float ul left */
	list-style-type: none;
	margin: ;
	padding: ; /* ??? */
}

/* nav color links here*/

nav ul li a{
	color: black;
	font-size: 1.2em;

}

footer {
	clear: both;
	color: black;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
 	float: right;
 	padding: 1em 0em;
	text-align: right;
	text-transform: uppercase;
}

footer a {
	color: black; 
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	font-size: 1em; 
	margin:0em 1em; 
}

footer p{
	color: black; 
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.2em;
	
}

li{
	color: black;
	list-style: disc;
}


figure {
	float: left;
	padding: 2em;
	width: 33%; 
}

figure img {
	width:100%;	
}
/* it's 100 percent of parent, which is 33% of Div*/

figcaption {
	color: #77787b;
	font-family:'Source Sans Pro', Helvetica, sans-serif;
	font-size: .9em;
	font-weight: 400;
	text-align: center;
}


a {
    color: #505050;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #ed52b1;
    text-decoration: none;
}


h1 {
	color: #88d7dd;
	font-family:'Permanent Marker', Helvetica, sans-serif;
	font-size: 3em;
	letter-spacing:;
	margin-bottom: .1em;
	margin-left: .25em;
	margin-top:; /* deleted font-weight */
}

h2 {
	color: black;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	font-weight: 400; 
	font-size: 1.6em;
	margin-left: .6em;
	margin-top: .8em;
	text-transform: uppercase;
} /* ??? */

h3 {
	color: #58595b;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	font-size: .8em;
	font-weight: 400;
	margin-left: 1em;
	margin-right: 1em;
	padding-bottom: 1em;

} /* ??? */

h4 {
	color: #88d7dd;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	font-weight: 900; 
	font-size: 1.7em;
	font-weight: 400;
	line-height: 1.7em;
	margin-left: .6em;
	margin-right: .6em;
	margin-top: 1em;
	text-align:center;
	padding-bottom:2em;
}

p {
	color: #505050;
	font-family:'Source Sans Pro', Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.3em;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
} /* ??? */

hr {
	margin-top: 1em;
	
}

footer p img{
	margin-left: 1em;
}

/* Put classes and IDs below here */

/* IS THIS CORRECT?*/
	

#hrseparator {
	border-top: 1px dotted black;
	width: 100%;
	float:center;
}

#thickhr {
	width: 100%;
	background-color:#e5f9fa;
	height: 3em;
	border: 0;
	margin-bottom: 2em;
}

#circlebanner {
	background-image: url(../images/homebackground_circlepattern.jpg);
	height: 6em;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: 2em;
}

.wrapper{ 
	margin: 0 auto;
	max-width: 1200px; /* or 960px; 1200px standard */
} /* make wrapper a class */

.navli{
	color: white;
	display: inline; /* worked */
	letter-spacing: .02em;
}

.navbar{
	font-size: 1em;
	padding: 3em 2em;
	letter-spacing: 1em;
}

.statementwrapper {
	width: 800px;
}

.statementbiopic {
	float: left;
	padding: 1em;
	width: 35%;
}

.artiststatement {
	letter-spacing: .007em;
	padding: 0em;
}

.clearfix:after {  
	content: " "; 
	clear: both;
	display: block; 
	height: 0; 
	visibility: hidden; 
}
/* class="clear fix" in html; class="clearfix:after" in CSS*/
/* attach a clearfix to any parent element whose children are floated*/


/* .archivecolumns{
	width: 50%;
	padding: 4em;
	float: left;
}   TOOK OUT */

.indentbullets {
	font-family:'Source Sans Pro', Helvetica, sans-serif;
	margin-left: 2em;
}

.shortenlinelength {
	margin-right: 1em; /* right margin space not working properly-??? */
	width: 56%;
}

.resumepageimage{
	align: center;
	margin-bottom: 1em;
	margin-left: 1em;
	width: 75%;
}

/* copied code from 
https://www.internetkultur.at/simple-hamburger-drop-down-menu-with-css-and-jquery/
for hamburger menu */

.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}
 
.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
}
 
.responsive-menu{
	display: none;
}
 
.expand {
	display: block !important;
}

/* -this code is for turning off nav menu and adds 
hamburder menu and vice versa */

.mobile-nav{
	display: none;
}













