/* Karina's site */

* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
}
/* sets padding and margin so not up to different browsers interpretation */

body {
	font-family: Helvetica, sans-serif;
	font-size: 16px;

}

h1{
	text-transform: uppercase;
	font-size: 1.6em;
	color: white;
	
}

h2 {
	color: orange;
	font-size: 1.3em;

}

h3 {
	font-size: 2em;
	color: orange;
	text-align: center;

}

footer {
	color: black;
	padding: 2em;

}

ul {
	list-style: none;
	color: white;
}

nav {
	
}

a {
    color: white;
    text-decoration: none;

}


.navbar {
		float: left; /* ???????????? */
		width: 90%;
		padding: 0em 0em 0 0em;
		background-color: #65cbda;
		color: white;
		text-align: right;
		/* change background color to gray or fun color that 
		matches the painting */
}

.navli{
	display: inline; /* worked */
	letter-spacing: .02em;
	color: white;
	text-decoration: none;
}

.logo {
	float: left;
	width: 10%;
	padding: 0em 2em 0 0em;
	
}

.clearfix:after {  
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

section#one{
	background-color: #8bd7e1;
	padding: 3em 2em 3em 2em;
}

#threecolumns{
	width: 33%;
	padding: 2em;
	float: left;
}